/* Center navbar buttons on a mobile display */
@media (max-width: 992px) {
    #navbarSupportedContent {
        display: flex;
        flex-direction: column;
    }

    #navBarLeft {
        width: 100%;
        align-items: center;
    }

    #navbarSupportedContent .navbar-nav .nav-item {
        float: none;
    }

    .nav-btn {
        
    }
}
